<!DOCTYPE html>
<html lang="en">
<center>

<head>
	<style>
		body {
			background-image: url('static/fofo.jpeg');
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<body style="color: floralwhite;">

	<p> <font size="+4"> You're not supposed to be here quickly run! </font>
</p>
<p> <font size="+3"> You ran so far away until you reached here, now it's time to introduce ourselves.</font></p>
</p>

<p><font size="+1"> We're the Wizarding World Digital, We're building the official hub for fans of Harry Potter  and Fantastic Beasts. The new digital heart of the Wizarding World, if you will. It's all very exciting.
<br>
Wizarding World Digital is a partnership between Warner Bros.and Pottermore, 
delivering official updates and products from the Wizarding World and its partners.
<br>
It all started when Digital experts from Pottermore have teamed up with clever folks from Warner Bros. and we've been adding experienced creatives and innovators to the team from all sorts of weird and wonderful places.And we're dedicated to making new and exciting things for you, the fans.
<br>
This website is all about having fun and testing yourselves with the information you have about harry potter. And don't forget to be sorted into your house in pottermore for a better experience.
<br>
</font>
</p>
<a href="/home"><button>back </button>

</body>
</center>
</html>