<!DOCTYPE html>
<html lang="en">
<center>

<head>
		<style>
		body {
			background-image: url('static/hehe.jpg');
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	<!-- <style>
		body {
			/*background-image: url('static/dede.jpeg');*/
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style> -->
</head>


<body style="color: floralwhite;>


	<form method="post" action="/quiz">
		<br>
		<br>
		 <p > Complete the quote quiz: Dobby edition </p>
		 <br>
		 <br>
		 <br>

		<div>
			<label>Dobby will have to punish himself most grievously for coming to see you, sir. Dobby will have to ______for this.*</label>
			<br>
			<br>
            <!-- <div> -->
            	<input type="radio"  name="question1" value="bang his head on the wall">bang his head on the wall
            	<br>
            	<input type="radio"  name="question1" value= "shut his ears in the oven door">shut his ears in the oven door
            	<br>
            	<input type="radio"  name="question1" value="pinch his nose extra hard">pinch his nose extra hard
            	<br>
            	<input type="radio" name="question1" value="iron his fingers">iron his fingers
            	<br>
            <!-- </div> -->
        </div>

       <div>
       	<label>Professor Dumbledore said we is free to – to… He said we is free to call him a – a ______ if we likes, sir!</label>
       	<br>
        <br>
        <!-- <div> -->
          	<input type="radio"  name="question2" value="barmy old codger">barmy old codger
           	<br>
           	<input type="radio"  name="question2" value= "sill old goose">sill old goose
           	<br>
           	<input type="radio"  name="question2" value="forgetful old fool">forgetful old fool
           	<br>
           	<input type="radio" name="question2">loppy old grouch
           </div>
           <br>

        <div>
            <label>Dobby has got ______… Master threw it, and Dobby caught it, and Dobby – Dobby is free.</label>
       	<br>
        <br>
        <!-- <div> -->
          	<input type="radio"  name="question3" value="clothes">clothes
           	<br>
           	<input type="radio"  name="question3" value= "a hat">a hat
           	<br>
           	<input type="radio"  name="question3" value="a scarf">a scarf
           	<br>
           	<input type="radio" name="question3" value="a sock">a sock
        </div>   


        <div>
        	<label>Dobby knows, sir! Harry Potter has to go into the lake and find his ______</label>
       	<br>
		<br>
        <!-- <div> -->
          	<input type="radio"  name="question4" value="wheezy">wheezy
           	<br>
           	<input type="radio"  name="question4" value= "friend">friend
           	<br>
           	<input type="radio"  name="question4" value="woozy">woozy
           	<br>
           	<input type="radio" name="question4" value="ronald">ronald
        </div> 
        <br>

        <div>
        	<label>Dobby could tell Harry Potter that his old masters were – were – ______!</label>
       	<br>
		<br>
        <!-- <div> -->
          	<input type="radio"  name="question5" value="mean terrible people">mean terrible people
           	<br>
           	<input type="radio"  name="question5" value= "nasty spiteful masters">nasty spiteful masters
           	<br>
           	<input type="radio"  name="question5" value="bad dark wizard">bad dark wizard
           	<br>
           	<input type="radio" name="question5" value="cruel evil wizards">cruel evil wizards
        </div> 

    </form>
    <br>

<a href="/final"><button>finish quiz</button>
	<br>
<a href="/home"><button>back to home</button>
	<br>
<a href="/about"><button>back to about</button>

</body>
</center>
</html>